#screen {
    border: rgb(50, 52, 61) 5px solid;
    border-radius: 15px;
    height: 20vh;
    width: 100%;
    margin-left: -5px;
    box-shadow: inset -3px 3px 10px 2px rgb(95, 95, 76);
    transform-style: preserve-3d;
    font-family: 'Silkscreen', sans-serif;
    text-align: right;
}

#running-calc {
    height: 66%;
    width: 100%;
    background-color: rgb(194, 194, 154);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding-right: 15px;
    transform: translateZ(-10px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: scroll;
    line-height: 16px;
}

#display {
    height: 34%;
    width: 100%;
    background-color: rgb(194, 194, 154);
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    transform: translateZ(-10px);
    padding: 0px 15px 15px 15px;
    overflow: hidden;
}

#number {
}

#calc-list {
    list-style: none;
}

h2 {
    display: inline;
    font-size: 2rem;
}

ul {
    display: inline;
    margin: 15px 0 0 0;
}

@media (min-height: 0) {  
    #screen {
        height: 27.5vh;
    }
    ul {
        font-size: 1rem;
    }
}

@media (min-height: 650px) {  
    #screen {
        height: 27.5vh;
    }
    #running-calc {
        line-height: 28px;
    }
    ul {
        font-size: 2rem;
    }
}

@media (min-height: 1080px) {  
    #screen {
        height: 27.5vh;
    }
    #running-calc {
        line-height: 28px;
    }
    ul {
        font-size: 2rem;
    }
}