#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  border: rgb(50, 52, 61) 5px solid;
  border-radius: 35px;
  box-shadow: 10px 0px 0 -1px grey;
  height: 75vh;
  background-color: var(--calculator);
  aspect-ratio: 1 / 1.5;
}

#top {
  margin: -2vh 0 2vh 0;
  height: 5vh;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#solar-bar {
  border: rgb(50, 52, 61) 1px solid;
  border-radius: 10px;
  height: 4vh;
  background-color: rgb(83, 91, 62);
  box-shadow: inset -3px 3px 10px 2px rgb(59, 65, 45);
}

#name {
  font-size: 2rem;
  font-family: 'Monda', sans-serif;
  color: rgb(36, 37, 43);
}

@media (min-height: 0) {  
  #root {
    height: 83vh;
    
  }
  #solar-bar {
    margin-top: 0;
  }
  #name {
    margin-top: 0;
    font-size: 1.2rem;
  }
  #top {
    padding: 2px;
  }
}

@media (min-height: 650px) {  
  #root {
    height: 83vh;
    
  }
  #solar-bar {
    margin-top: 10px;
  }
  #name {
    margin-top: 0;
    font-size: 2.5rem;
  }
  #top {
    padding: 2px;
  }
}

@media (orientation: portrait) {
  #root {
    height: 125vw;
  }
  #solar-bar {
    margin-top: 8px;
  }
  #name {
    margin-top: 0;
    font-size: 2.5rem;
  }
  #top {
    padding: 5px;
  }
  
}
@media (min-height: 1080px) {
  #root {
    height: 87.5vh;
    
  }
  #solar-bar {
    margin-top: 20px;
  }
  #name {
    margin-top: 0;
    font-size: 4rem;
  }
  #top {
    padding: 5px;
  }
  
}